.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.login-content {
    display: flex;
    align-items: center;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: right;
}

.login-container h2 {
    text-align: center;
}


.logo-image {
    max-width: 50px;
    margin-left: 10px;
}


.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.login-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    width: 100%;
}

.presenter-image {
    max-width: 400px;
    margin-left: 120px;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}