<div class="page-layout">
    <header class="header" style="background-image: url('assets/background.jpg');">
        <div class="w-100 h-100">
            <img src="assets/logo_white_title.png" alt="logo" class="logo mr-075">
            <span class="m-4 fs-5"> מובילים את עתיד הבנקאות </span>

        </div>
    </header>

    <div class="page-container">
        <div class="w-100 h-100">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer class="footer" id="footer" style="background-image: url('assets/background.jpg');">
        <a href=""> דף הבית </a>
        <pre class="mt-3"> | </pre>
        <span> כל הזכויות שמורות © </span>
    </footer>
</div>