<div class="container mt-4">
    <h1 class="mb-4">העברה בין חשבונות</h1>

    <div class="card">
        <div class="card-body">
            <div *ngIf="action === 1" class="alert alert-success" role="alert">הפעולה הושלמה בהצלחה!</div>
            <div *ngIf="action === 2" class="alert alert-danger" role="alert">התרחשה שגיאה במהלך הפעולה.</div>

            <form [formGroup]="transferForm">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>שם המוטב</mat-label>
                            <input matInput formControlName="beneficiaryName" required>
                            <mat-error *ngIf="transferForm.get('beneficiaryName')?.invalid">
                                {{ transferForm.get('beneficiaryName')!.errors | errorMessages }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>בנק</mat-label>
                            <mat-select formControlName="bankID" required>
                                <mat-option *ngFor="let bank of banks" [value]="bank.bankId">{{ bank.bankName }} - {{
                                    bank.bankId }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="transferForm.get('bankID')?.invalid">
                                {{ transferForm.get('bankID')!.errors | errorMessages }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>סניף</mat-label>
                            <mat-select formControlName="branchID" required>
                                <mat-option *ngFor="let branch of branches" [value]="branch.branchId">{{
                                    branch.branchName }} - {{ branch.branchId }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="transferForm.get('branchID')?.invalid">
                                {{ transferForm.get('branchID')!.errors | errorMessages }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>מספר חשבון</mat-label>
                            <input matInput type="number" formControlName="accountNumber" required>
                            <mat-error *ngIf="transferForm.get('accountNumber')?.invalid">
                                {{ transferForm.get('accountNumber')!.errors | errorMessages }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>סכום העברה</mat-label>
                            <input matInput type="number" formControlName="amount">
                            <mat-error *ngIf="transferForm.get('amount')?.invalid">
                                {{ transferForm.get('amount')!.errors | errorMessages }}
                            </mat-error>
                            <!-- <mat-error *ngIf="transferForm.get('amount')?.errors?.['required']">שדה חובה</mat-error>
                            <mat-error *ngIf="transferForm.get('amount')?.errors?.['max']">מוגבל ל-10000</mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>מטרת העברה</mat-label>
                            <mat-select formControlName="transferPurpose">
                                <mat-option *ngFor="let purpose of transferPurposes" [value]="purpose.key">{{
                                    purpose.value }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="transferForm.get('transferPurpose')?.invalid">
                                {{ transferForm.get('transferPurpose')!.errors | errorMessages }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="transferForm.get('transferPurpose')?.value == 99">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>מטרת העברה אחרת</mat-label>
                            <input matInput type="text" formControlName="otherPurpose" required>
                            <mat-error *ngIf="transferForm.get('otherPurpose')?.invalid">
                                {{ transferForm.get('otherPurpose')!.errors | errorMessages }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="text-start mt-3">
        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="transferForm.invalid">שליחה</button>
    </div>
</div>