// mat-drawer-container {
//     min-height: 400px;
// }

// mat-drawer-content {
//     margin-right: 13rem !important;
// }

// .example-sidenav {
//     height: 100%;
// }


html,
body,
app-root,
.example-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.example-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    height: 100%;
}

mat-drawer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}