body {
    // background-color: #f2f2f2 !important;
    background-color: #f8f8f8 !important;
    // background-color: #28a745 !important;
}

.main-container {
    // background-color: #f2f2f2;
    background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: blue !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}