body {
    background-color: #ececec !important;
}

.main-container {
    background-color: #ececec !important;
}

app-main {
    height: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: blue !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icons {
    width: 24px;
    height: 24px;
}

mat-form-field {
    width: 95%;
}

.text-input-right {
    text-align: right;
}

.sign-number-direction {
    direction: ltr;
    text-align: right;
}

.modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    /* Adds a dark overlay */
}

.logo {
    width: 60px;
    height: auto;
}